<body>
    <div class="header">
    
        <h1>Escola Pia</h1>
        <div class="header-subsection"><p>Benvolgut, Admin</p>
          <img id="userIconId" src="assets/img/user.png" alt="User Icon">
        </div>
    </div>
      
    <div class="content">
        <div id="grid" class="grid">
            <a class="grid-element" href="http://localhost:4200/admin-registres-u">Registres<span class="img-container"><img src="assets/img/registry.png" alt="Document Icon"></span></a>
            <a class="grid-element" href="http://localhost:4200/admin-user-list">Usuaris <span class="img-container"><img src="assets/img/user.png" alt="Document Icon"></span></a>
        </div>
    </div>
</body>
