<div>
    <div class="header">

        <div class="header-subsection">
            <a style="font-size: 40px; text-decoration: none;" href="http://localhost:4200/registres-u">&#8678;</a>    
            <h1>Escola Pia Olot</h1>
        </div>
        <div class="header-subsection">
          <p>Benvolgut, Eric</p>
          <img id="userIconId" src="assets/img/user.png" alt="User Icon">
        </div>
      </div>
      <h1>Crea un nou Usuari</h1>
        <form>
            <label>Nom:</label>
            <input placeholder="Nom">
           <label>Correu</label>
           <input placeholder="Correu">
           <div>
                <label>Classe:</label>
                <select placeholder="Classe">
                    <option value="1r">1r</option>
                </select>
                <label>Grup:</label>
                <select placeholder="Grup">
                  <option *ngFor="let group of groups" [value]="group">{{ group }}</option>
                </select>

                <label>Assignatura:</label>
                <select placeholder="Assignatura">
                    <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
                  </select>
           </div>
           <button type="submit">Crea</button>
        </form>
        <button type="submit">Crear</button>
</div>