<body>
    <div class="header">

    </div>    
    <div>
        <div class="content">
            <img src="assets/img/user.png" alt="User Icon">
            <div class="content-row">
                <div class="content-input">
                    <p>Correu</p>
                    <input value="Correu">
                </div>
            </div>
            <div class="content-row">
                <div class="content-input">
                    <p>Contrasenya</p>
                    <input type="password">
                </div>
            </div>
            <a href="http://localhost:4200/registres-u" class="login-button"> Entrar </a>
            
        </div>
    </div>
</body>