<body>
  <header class="header"></header>
  <main>
    <section class="content">
      <img src="assets/img/user.png" alt="User Icon" class="user-icon">
      <div class="content-row">
        <div class="content-input">
          <label for="email-input">Correu</label>
          <input id="email-input" type="email" placeholder="Enter your email">
        </div>
      </div>

      <div id="g_id_onload"
           data-client_id="843785544318-q6aq282t6fp30ooq8576nua88tp4nvmi.apps.googleusercontent.com"
           data-context="signin"
           data-ux_mode="popup"
           data-callback="handleOauthResponse"
           data-auto_prompt="false">
      </div>
      <div class="g_id_signin"
           data-type="standard"
           data-shape="rectangular"
           data-theme="filled_blue"
           data-text="signin_with"
           data-size="large"
           data-logo_alignment="left">
      </div>
    </section>
  </main>

  <script>
   
    function decodeJWTToken(token) {
      if (!token || !token.includes('.')) {
        console.error("Invalid JWT token format.");
        return null;
      }
      try {
        return JSON.parse(atob(token.split(".")[1]));
      } catch (error) {
        console.error("Error decoding JWT token:", error);
        return null;
      }
    }

    window.handleOauthResponse = function(response) {
      console.log("OAuth Response Received:", response);
      const appElement = document.querySelector('app-login');
      if (appElement) {
        const ngComponent = angular.element(appElement).scope().$ctrl;
        if (ngComponent && typeof ngComponent.handleOauthResponse === 'function') {
          ngComponent.handleOauthResponse(response);
        } else {
          console.error("Angular component or method not found.");
        }
      } else {
        console.error("App component not found in the DOM.");
      }
    };
  </script>
</body>
