<div>
    <div class="header">

        <div class="header-subsection">
            <a style="font-size: 40px; text-decoration: none;" href="http://localhost:4200/registres-u">&#8678;</a>
            <h1>1r Primària Grup A</h1>
        </div>
        <div class="header-subsection">
            <p>Benvolgut, Eric</p>
            <img id="userIconId" src="assets/img/user.png" alt="User Icon">
        </div>
    </div>


    <div class="content">
        <div class="content-row">
            <div class="content-input">
                <p>Títol</p>
                <input type="text" value="Títol" readonly>
            </div>
            <div class="content-input">
                <p>Data inici</p>
                <input type="date" readonly>
            </div>
        </div>
        <div class="content-row">
            <div class="content-input">
                <p>Descripció</p>
                <input type="text" value="Descripció" readonly>
            </div>
            <div class="content-input">
                <p>Data fi</p>
                <input type="date" readonly>
            </div>
        </div>
        <div class="content-input">
            <p>Link</p>
            <input value="Link" readonly>
        </div>

        <table class="vectors-table">
            <tr class="first-row">
                <th>Vectors</th>
                <th></th>
            </tr>
            <tr>
                <td>1. Aprenentatges competencials</td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>2. Perspectiva de gènere</td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>3. Qualitat de l'educació de les llengües</td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>4. Benestar emocional</td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>5. Universalitat del currículum</td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>6. Ciutadania democràtica i consciència global</td>
                <td><input type="checkbox"></td>
            </tr>
        </table>

        <div class="dropdown-container">
            <div class="dropdown-top">
                <div class="dropdownfirst-element">Àrees de coneixement</div>
                <div class="dropdownthird-element">
                    <button (click)="toggleDropdown()">
                        <img src="assets/img/arrow-down.png" alt="Arrow Down">
                    </button>

                </div>
            </div>
            <div class="dropdown-content" *ngIf="isDropdownVisible">
                <table class="dropdown-content-table">

                    <tr class="content-row-DT">
                        <td class="title-column-DT">
                            <div>

                                <p>Coneixement del Medi Natural, Social i Cultural</p>
                            </div>
                        </td>
                        <td class="content-column-DT"> Competències </td>
                        <td class="content-column-DT"> Criteris d'avaluació </td>
                        <td class="content-column-DT"> Sabers </td>
                        <td class="content-column-DT"> Sabers Pendents </td>

                    </tr>
                    <tr class="content-row-DT">
                        <td class="title-column-DT">
                            <div>

                                <p>Educació Artística</p>
                            </div>
                        </td>
                        <td class="content-column-DT"> Competències </td>
                        <td class="content-column-DT"> Criteris d'avaluació </td>
                        <td class="content-column-DT"> Sabers </td>
                        <td class="content-column-DT"> Sabers Pendents </td>
                    </tr>
                    <tr class="content-row-DT">
                        <td class="title-column-DT">
                            <div>

                                <p>Educació Física</p>
                            </div>
                        </td>
                        <td class="content-column-DT"> Competències </td>
                        <td class="content-column-DT"> Criteris d'avaluació </td>
                        <td class="content-column-DT"> Sabers </td>
                        <td class="content-column-DT"> Sabers Pendents </td>
                    </tr>
                    <tr class="content-row-DT">
                        <td class="title-column-DT">
                            <div>

                                <p>Aranès i Literatura a l'Aran, Llengua Castellana i Literatura i Llengua Catalana i
                                    Literatura</p>
                            </div>
                        </td>
                        <td class="content-column-DT"> Competències </td>
                        <td class="content-column-DT"> Criteris d'avaluació </td>
                        <td class="content-column-DT"> Sabers </td>
                        <td class="content-column-DT"> Sabers Pendents </td>
                    </tr>
                    <tr class="content-row-DT">
                        <td class="title-column-DT">
                            <div>

                                <p>Llengua estrangera</p>
                            </div>
                        </td>
                        <td class="content-column-DT"> Competències </td>
                        <td class="content-column-DT"> Criteris d'avaluació </td>
                        <td class="content-column-DT"> Sabers </td>
                        <td class="content-column-DT"> Sabers Pendents </td>
                    <tr class="content-row-DT">
                        <td class="title-column-DT">
                            <div>

                                <p>Matemàtiques</p>
                            </div>
                        </td>
                        <td class="content-column-DT"> Competències </td>
                        <td class="content-column-DT"> Criteris d'avaluació </td>
                        <td class="content-column-DT"> Sabers </td>
                        <td class="content-column-DT"> Sabers Pendents </td>
                    </tr>
                    <tr class="content-row-DT">
                        <td class="title-column-DT">
                            <div>

                                <p>Educació en Valors Cívics i Ètics</p>
                            </div>
                        </td>
                        <td class="content-column-DT"> Competències </td>
                        <td class="content-column-DT"> Criteris d'avaluació </td>
                        <td class="content-column-DT"> Sabers </td>
                        <td class="content-column-DT"> Sabers Pendents </td>

                </table>


            </div>
        </div>

        <div class="dropdown-container">
            <div class="dropdown-top">
                <div class="dropdownfirst-element">Competències transversals</div>
                <div class="dropdownthird-element">
                    <button (click)="toggleDropdown2()">
                        <img src="assets/img/arrow-down.png" alt="Arrow Down">
                    </button>

                </div>
            </div>
            <div class="dropdown-content" *ngIf="isDropdownVisible2">
                <table class="dropdown-content-table">

                    <tr class="content-row-DT">
                        <td class="title-column-DT">
                            <div>

                                <p>Competeǹcia Ciutadana</p>
                            </div>
                        </td>
                        <td class="content-column-DT"> Competències </td>
                        <td class="content-column-DT"> Criteris d'avaluació </td>


                    </tr>
                    <tr class="content-row-DT">
                        <td class="title-column-DT">
                            <div>

                                <p>Competència Digital</p>
                            </div>
                        </td>
                        <td class="content-column-DT"> Competències </td>
                        <td class="content-column-DT"> Criteris d'avaluació </td>

                    </tr>
                    <tr class="content-row-DT">
                        <td class="title-column-DT">
                            <div>

                                <p>Competència Emprenedora</p>
                            </div>
                        </td>
                        <td class="content-column-DT"> Competències </td>
                        <td class="content-column-DT"> Criteris d'avaluació </td>

                    </tr>
                    <tr class="content-row-DT">
                        <td class="title-column-DT">
                            <div>

                                <p>Competència Personal, social i d'aprendre a aprendre</p>
                            </div>
                        </td>
                        <td class="content-column-DT"> Competències </td>
                        <td class="content-column-DT"> Criteris d'avaluació </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>