<body>
    <div class="header">

        <div class="header-subsection"><a style="font-size: 40px;">&#8678;</a>    
        <h1>1r Primària Grup A</h1></div>
        <div class="header-subsection"><p>Benvolgut, Usuari</p>
          <img id="userIconId" src="assets/img/user.png" alt="User Icon">
        </div>
      </div>


<div class="content">
<div class="content-row">
<div class="content-input">
    <p>Títol</p>
    <input value="Títol">
</div>
<div class="content-input">
    <p>Data inici</p>
    <input type="date">
</div>
</div>
<div class="content-row">
<div class="content-input">
    <p>Descripció</p>
    <input value="Descripció">
</div>
<div class="content-input"> 
    <p>Data fi</p>
    <input type="date">
</div>
</div>
<div class="content-input">
    <p>Link</p>
    <input value="Link">
</div>

<table class="vectors-table">
    <tr>
        <th>Vectors</th>
        <th></th>
    </tr>
    <tr>
        <td>1. Aprenentatges competencials</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>2. Perspectiva de gènere</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>3. Qualitat de l'educació de les llengües</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>4. Benestar emocional</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>5. Universalitat del currículum</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>6. Ciutadania democràtica i consciència global</td>
        <td><input type="checkbox"></td>
    </tr>
</table>

</div>