<label>Titol
    <input placeholder="Títol" [(ngModel)]="title" type="text"  name="title">
</label>
<label>Descripció
    <input placeholder="Descripció" [(ngModel)]="description" type="text" name="description">
</label>
<label>Enllaç
    <input placeholder="Enllaç" [(ngModel)]="link"  type="text" name="link">
</label>
<label> Data d'Inici
    <input placeholder="Data d'inici" [(ngModel)]="startDate" type="date" name="startDate"> 
</label>
<label> Data de Finalització
    <input placeholder="Data de finalització" [(ngModel)]="endDate" type="date" name="endDate">
</label>
<button (click)="createSda()" class="create-sda-button">Crea</button>