<div>
    <div class="header">

        <div class="header-subsection">
            <a style="font-size: 40px; text-decoration: none;" href="http://localhost:4200/admin-home">&#8678;</a>    
            <h1>1r Primària Grup A</h1>
        </div>
        <div class="header-subsection">
          <p>Benvolgut, Admin</p>
          <img id="userIconId" src="assets/img/user.png" alt="User Icon">
        </div>
      </div>


      <div class="content">
        <table class="users-table" *ngIf="users && users.length > 0; else noUsers">
            <tr class="first-row">
                <th>Usuari</th>
                <th>Correu</th>
                <th>Tipus</th>
                <th>Accions</th>
            </tr>
            
    
</div>



