<body>
<div class="header">

    <h1>1r Primària Grup A</h1>
    <div class="header-subsection"><p>Benvolgut, Usuari</p>
      <img id="userIconId" src="assets/img/user.png" alt="User Icon">
    </div>
  </div>
  
  <div class="content">
  
    <h2>Curs 2024-2025</h2>


  
    <div id="grid" class="grid">
        <a class="grid-element" href="http://localhost:4200/sda">SDA1 <span class="img-container"><img src="assets/img/registry.png" alt="Document Icon"></span></a>
        <a class="grid-element" href="http://localhost:4200/sda">SDA2 <span class="img-container"><img src="assets/img/registry.png" alt="Document Icon"></span></a>
        <a class="grid-element" href="http://localhost:4200/sda">SDA3 <span class="img-container"><img src="assets/img/registry.png" alt="Document Icon"></span></a>
        <a class="grid-element" href="http://localhost:4200/sda">SDA4 <span class="img-container"><img src="assets/img/registry.png" alt="Document Icon"></span></a>
        <a class="grid-element" href="http://localhost:4200/sda">SDA5 <span class="img-container"><img src="assets/img/registry.png" alt="Document Icon"></span></a>
        <a class="grid-element" href="http://localhost:4200/sda">SDA6 <span class="img-container"><img src="assets/img/registry.png" alt="Document Icon"></span></a>
        <a class="grid-element" href="http://localhost:4200/sda">SDA7 <span class="img-container"><img src="assets/img/registry.png" alt="Document Icon"></span></a>
        <a class="grid-element" href="http://localhost:4200/sda">SDA8 <span class="img-container"><img src="assets/img/registry.png" alt="Document Icon"></span></a>
        <a class="grid-element" href="http://localhost:4200/sda">SDA9 <span class="img-container"><img src="assets/img/registry.png" alt="Document Icon"></span></a>
    </div>
  </div>
</body>