<div class="header">

  <h1>1r Primària Grup A</h1>
  <div class="header-subsection"><p>Benvolgut, Usuari</p>
    <img id="userIconId" src="assets/img/user.png" alt="User Icon">
  </div>
</div>

<div class="content">

  <h2>Curs 2024-2025</h2>

  <div id="grid" class="grid">
      <div class="grid-element">SDA1 <img src="assets/img/registry.png" alt="Document Icon"></div>
      <div class="grid-element">SDA2 <img src="assets/img/registry.png" alt="Document Icon"></div>
      <div class="grid-element">SDA3 <img src="assets/img/registry.png" alt="Document Icon"></div>
      <div class="grid-element">SDA4 <img src="assets/img/registry.png" alt="Document Icon"></div>
      <div class="grid-element">SDA5 <img src="assets/img/registry.png" alt="Document Icon"></div>
      <div class="grid-element">SDA6 <img src="assets/img/registry.png" alt="Document Icon"></div>
      <div class="grid-element">SDA7 <img src="assets/img/registry.png" alt="Document Icon"></div>
      <div class="grid-element">SDA8 <img src="assets/img/registry.png" alt="Document Icon"></div>
      <div class="grid-element">SDA9 <img src="assets/img/registry.png" alt="Document Icon"></div>
  </div>
</div>
